<h1>Harnessing Energy for Innovation</h1>
<p>In todays economic enviornment it's important to make the most of what you have.  We are all surrounded by naturally occuring energy sources.  At PWBC we harness that energy to provide innovative solutions and product enhancements.</p>
<%= link_to "Learn more", harnessing_energy_path, :class => "btn btn-primary btn-large intro-more" %>