<h2>Rapid Prototyping:</h2>
<p><span class='intro-desc'>Prototype and test new ideas instantly using a variety of materials and fabrication techniques, including 3D printing</span><span class='full-desc'>, Prototype and test new ideas instantly using a variety of materials and fabrication techniques, including 3D printing, rapid machining, Our process supports all major CAD and CAM formats, and our engineers partner with your team on material selection, manufacturability and process improvement.</span></p>
<%= link_to "View details", rapid_prototyping_path, :class => "btn intro-more" %>