 @import "bootstrap";
 body {
	padding-top: 80px;
}
 @import "bootstrap-responsive";



.intro-more{
	display: none;
}
#home .intro-more{
	display: inline;
}
#home .full-desc{
	display:none;
}
.pwbc_intro_image{
	background-image: url('pwbc_logo_traces.png');
	background-repeat:no-repeat;
	background-size: contain;
}
.intro-desc{
	display: none;
}

#home .intro-desc{
	display: inline;
}


