<p class='homeIntro'>PWBC was founded by problem solving engineers; dedicated to implimenting practical solutions.</p>
</br>


<div style="text-align:center;">
	<%= image_tag("underConst.gif", :width => '250px') %>
	<h3>Our site is under construction</h3>
</div>