<div id='home'>
  <!-- Main hero unit for a primary marketing message or call to action -->
  <div class="hero-unit">
    <%= render 'partials/harnessing_energy' %>
  </div>

  <!-- Example row of columns -->
  <div class="row">
    <div class="span4">
      <%= render 'partials/product_development' %>          
    </div>
    <div class="span4">
      <%= render 'partials/digital_prototyping' %> 
   </div>
    <div class="span4">
        <%= render 'partials/rapid_prototyping' %> 
    </div>
  </div>

</div> <!-- Home End -->